
h1 {
color: #666;
}

h3 {
color: #666;
}

.logo-header {
background-color: #666;
}

.jumbotron {
background-color: #fc6;
padding-bottom: 0px;
}

.star {
color: #f93;
}

.breadcrumb {
background-color: #f93;
color: #ccc;
}

.breadcrumb > .active {
color: #fff;
}

.form-control:focus {
  border-color: #fc6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(255, 204, 102, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(255, 204, 102, 0.6);
}

.glyphicon-chevron-right:before {
  content: "";
}

.glyphicon-chevron-right:after {
  content: "\e080";
}

footer {
padding-top: 40px;
}

