<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<title th:text="#{agreement}">Agreement</title>
</head>
<body>

	<div id="wrap">
		<div class="container">

			<ol class="breadcrumb">
				<li class="active" th:text="#{agreement}">Agreement</li>
				<li th:text="#{candidateData}">Candidate Data</li>
				<li th:text="#{skills}">Skills</li>
				<li th:text="#{documentUpload}">Document Upload</li>
				<li th:text="#{submitApplication}">Submit Application</li>
			</ol>

			<h1 th:text="#{agreement}">Agreement</h1>

			<p th:text="#{agreementCandidate}"></p>

			<p th:text="#{paragraph_01}"></p>
 			
			<p th:text="#{paragraph_02}"></p>
			
			<p th:utext="#{paragraph_03}"></p>
			
			<p th:text="#{paragraph_04}"></p>
			
			<p th:text="#{paragraph_05}"></p>
			<p th:text="#{paragraph_06}"></p>
			
			<form method="POST">
					<select onchange="this.form.submit()" name="buttonPressed">
							<option th:each="language : ${languageList}" th:value="${language.key}" th:text="${language.value}">Januar</option>
					</select>
			</form>			
			
			<form method="POST">
				<button type="submit" name="buttonPressed" value="agreement_Decline" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-ok" th:text="#{decline}">Decline</span>
				</button>
	
				<button type="submit" name="buttonPressed" value="agreement_Accept" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-ok" th:text="#{accept}">Accept</span>
				</button>
			</form>
			
		</div>
	</div>
</body>

</html>