<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<title th:text="#{candidateSkills}">Candidate Skills</title>

</head>
<body>
	<div id="wrap">
		<div class="container">

			<ol class="breadcrumb">
				<li th:text="#{privaceAgreement}">Privacy Agreemnent</li>
				<li th:text="#{contactData}">Contact Data</li>
				<li class="active" th:text="#{educationExperience}">Education and Experience</li>
				<li th:text="#{documentUpload}">Document Upload</li>
				<li th:text="#{summary}">Summary</li>
			</ol>

			<h1 th:text="#{candidateSkills}">Candidate Skills</h1>

			<form id="candidateForm" role="form" action="" method="POST" th:object="${skills}">

<!-- 				<div th:class="${#fields.hasErrors('education')} ? 'form-group has-error' : 'form-group'"> -->
<!-- 					<label for="firstName" th:text="#{education}">Education</label> -->
<!-- 					<input type="text" class="form-control" id="firstName" th:placeholder="#{firstName}" th:field="*{firstName}" autofocus="autofocus" /> -->
<!-- 					<p class="help-block" th:if="${#fields.hasErrors('firstName')}"	th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Error</p> -->
<!-- 				</div> -->

<!-- 				<div th:class="${#fields.hasErrors('experience')} ? 'form-group has-error' : 'form-group'"> -->
<!-- 					<label for="lastName" th:text="#{lastName}">Last Name</label> -->
<!-- 					<input type="text" class="form-control" id="lastName" th:placeholder="#{lastName}" th:field="*{lastName}" /> -->
<!-- 					<p class="help-block" th:if="${#fields.hasErrors('lastName')}" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Error</p> -->
<!-- 				</div> -->

				<button type="submit" name="buttonPressed" value="contactSkills_Back" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-ok" th:text="#{back}">Submit</span>
				</button>

				<button type="submit" name="buttonPressed" value="contactSkills_Forward" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-ok" th:text="#{forward}">Submit</span>
				</button>
			</form>

		</div>
	</div>
</body>
</html>