<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<title th:text="#{confirmCancellation}">Application cancelled</title>

</head>
<body>
	<div id="wrap">
		<div class="container">
			<h1 th:text="#{confirmCancellation}">Application cancelled</h1>
			<form method="POST">
				<button type="submit" name="buttonPressed" value="confirmCancellation_BackToStart" class="btn btn-primary btn-lg">
					<span class="glyphicon glyphicon-ok" th:text="#{backToStart}">Decline</span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>