<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="resources/images/favicon.png"/>
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<!-- Custom styles for this template -->
<link href="resources/css/stylesheet_reto.css" rel="stylesheet" type="text/css"/>

<link href="resources/css/dropzone.css" rel="stylesheet" media="screen" />

<link th:if="${language=='de'}" href="resources/css/dropzone_de.css" rel="stylesheet" media="screen" />
<link th:if="${language=='en'}" href="resources/css/dropzone_en.css" rel="stylesheet" media="screen" />

<script src="resources/js/dropzone.js"></script>

<title th:text="#{documentUpload}">Document Upload</title>

</head>


<body>
	

<div class="logo-header">		
	<div class="container">
		<div align="right">
			<img src="resources/images/kiebitz-logo.jpg" width="273" height="97" alt="Kiebitz" />
		</div>
	</div>
</div>	
			
<div class="jumbotron">
	<div class="container">
		<h1 th:text="#{documentUpload}">Upload</h1>
			<ol class="breadcrumb">
				<li th:text="#{agreement}">Agreement</li>
				<li th:text="#{candidateData}">Candidate Data</li>
				<li th:text="#{skills}">Skills</li>
				<li class="active" th:text="#{documentUpload}">Document Upload</li>
				<li th:text="#{submitApplication}">Submit Application</li>
			</ol>
	</div>
</div>
		

<div id="wrap">
		<div class="container">
		   <table border="0" width="100%">
		     <colgroup width="50%" span="2"></colgroup>
     		     <tr>
     			 	<td>
     			 		<h3 th:text="#{documentUpload}">Document Upload</h3>
     			 	</td>
				 	<td>
				 		<h3 th:text="#{motivationalLetter}">MOtivational Letter</h3>
				 	</td>
				  </tr>
				  <tr>
					<td>
						<form id="dropzone" role="form" class="dropzone" action="/upload" method="POST">
				 		</form>
					</td>
					<td>
					
						<form class="form-horizontal" id="documentForm" role="form" action="" method="POST" th:object="${documents}">
<!-- 							<textarea name="textfield" cols="80" rows="17" ></textarea> -->
				 		</form>
					</td>
				  </tr>
			 </table>

			<form method="POST" th:object="${documents}">
<!-- 					<label th:text="${#lists.isEmpty(documents) ? 'Leer' : 'Voll'}">Test Label</label> -->

				<textarea name="textfield" th:text="${textAreaContent}" cols="80" rows="17" ></textarea>
				
			    <table>
			      <tr>
			        <th></th>
			        <th th:text="#{uploadedFiles}">Alternativ Text</th>
			      </tr>
			      <tr th:each="doc : ${documents}">
			        <td>
			        	<input type="checkbox" name="chbDocuments" th:value="${doc.id}"></input>
<!-- 			        	<input type="checkbox" name="1" value="1"></input> -->
			        </td>
			        <td th:text="${doc.name}">Alternativ Text</td>
			      </tr>
			    </table>
				<button type="submit" name="buttonPressed" value="documents_Delete" class="btn btn-warning btn-lg">
					<span class="glyphicon glyphicon-trash" th:text="#{delete}">Submit</span>
				</button>
	
				<button type="submit" name="buttonPressed" value="documents_Back" class="btn btn-warning btn-lg">
					<span class="glyphicon glyphicon-chevron-left" th:text="#{back}">Submit</span>
				</button>
	
				<button type="submit" name="buttonPressed" value="documents_Cancel" class="btn btn-warning btn-lg">
					<span class="glyphicon glyphicon-remove" th:text="#{cancel}">Submit</span>
				</button>

				<button type="submit" name="buttonPressed" value="documents_Forward" class="btn btn-warning btn-lg">
					<span class="glyphicon glyphicon-chevron-right" th:text="#{forward}">Submit</span>
				</button>
			</form>
		
		<hr/>
			
				
				<footer>
				<p>&copy; Kiebitz 2013</p>
				</footer>
		
		</div>
	
	</div>
</body>
</html>
