<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="resources/images/favicon.png"/>
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<!-- Custom styles for this template -->
<link href="resources/css/stylesheet_reto.css" rel="stylesheet" type="text/css"/>

<title th:text="#{skills}">Skills</title>


<script>
function grayOut_WorkExperience(checkBox_hasNoExperience) {
    if ( checkBox_hasNoExperience.checked ) {
        document.getElementById('position').value = "";
        document.getElementById('position').setAttribute("disabled","disabled");
        document.getElementById('jobField').value = "";
        document.getElementById('jobField').setAttribute("disabled","disabled");
        document.getElementById('cancelationPeriod').value = "";
        document.getElementById('cancelationPeriod').setAttribute("disabled","disabled");
        document.getElementById('startDateExperienceMonth').value = (new Date()).getMonth();
        document.getElementById('startDateExperienceMonth').setAttribute("disabled","disabled");
        document.getElementById('startDateExperienceYear').value = (new Date()).getYear() + 1900;
        document.getElementById('startDateExperienceYear').setAttribute("disabled","disabled");
        document.getElementById('endDateExperienceMonth').value = (new Date()).getMonth();
        document.getElementById('endDateExperienceMonth').setAttribute("disabled","disabled");
        document.getElementById('endDateExperienceYear').value = (new Date()).getYear() + 1900;
        document.getElementById('endDateExperienceYear').setAttribute("disabled","disabled");
        document.getElementById('currentPosition').checked="";
        document.getElementById('currentPosition').setAttribute("disabled","disabled");
     } else {
         document.getElementById('position').removeAttribute("disabled");
         document.getElementById('jobField').removeAttribute("disabled");
         document.getElementById('cancelationPeriod').removeAttribute("disabled");
         document.getElementById('startDateExperienceMonth').removeAttribute("disabled");
         document.getElementById('startDateExperienceYear').removeAttribute("disabled");
         document.getElementById('endDateExperienceMonth').removeAttribute("disabled");
         document.getElementById('endDateExperienceYear').removeAttribute("disabled");
         document.getElementById('currentPosition').removeAttribute("disabled");
     }    
}
function initiallyCheckWorkExperienceBox(){
	grayOut_WorkExperience(document.getElementById('hasNoExperience'));
}
</script>





</head>
<body onload="initiallyCheckWorkExperienceBox()">

<div class="logo-header">		
	<div class="container">
		<div align="right">
			<img src="resources/images/kiebitz-logo.jpg" width="273" height="97" alt="Kiebitz" />
		</div>
	</div>
</div>	
			
<div class="jumbotron">
	<div class="container">
		<h1 th:text="#{skills}">Skills</h1>
			<ol class="breadcrumb">
				<li th:text="#{agreement}">Agreement</li>
				<li th:text="#{candidateData}">Candidate Data</li>
				<li class="active" th:text="#{skills}">Skills</li>
				<li th:text="#{documentUpload}">Document Upload</li>
				<li th:text="#{letterOfMotivation}">Letter of Motivation</li>
				<li th:text="#{submitApplication}">Submit Application</li>
			</ol>
	</div>
</div>
		


<div id="wrap">
		<div class="container">

			<h3 th:text="#{education}">Education</h3>
			
			<p th:utext="#{educationInstructions}"></p>

			<form class="form-horizontal" id="skillsForm" role="form" action="" method="POST" th:object="${skills}">

				<div th:class="${#fields.hasErrors('institution')} ? 'form-group has-error' : 'form-group'">
					<label for="institution" class="col-sm-2 control-label"><span class="star">*</span><span th:text="#{institution}">Institution</span></label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="institution" th:placeholder="#{institution}" th:field="*{institution}" />
					<p class="help-block" th:if="${#fields.hasErrors('institution')}" th:each="err : ${#fields.errors('institution')}" th:text="${err}">Error</p>
				</div>
				</div>
					
					
									
				<div th:class="${#fields.hasErrors('topic')} ? 'form-group has-error' : 'form-group'">
					<label for="topic" class="col-sm-2 control-label"><span class="star">*</span><span th:text="#{topic}">Topic</span></label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="topic" th:placeholder="#{topic}" th:field="*{topic}" />
					<p class="help-block" th:if="${#fields.hasErrors('topic')}" th:each="err : ${#fields.errors('topic')}" th:text="${err}">Error</p>
				</div>
				</div>
				
				
				
				
				<div th:class="${#fields.hasErrors('degree')} ? 'form-group has-error' : 'form-group'">
					<label for="degree" class="col-sm-2 control-label"><span class="star">*</span><span th:text="#{degree}">Degree</span></label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="degree" th:placeholder="#{degree}" th:field="*{degree}" />
					<p class="help-block" th:if="${#fields.hasErrors('degree')}" th:each="err : ${#fields.errors('degree')}" th:text="${err}">Error</p>
				</div>
				</div>




				<div th:class="${#fields.hasErrors('endDateEducation')} ? 'form-group has-error' : 'form-group'">
					<label for="startDateEducationMonth" class="col-sm-2 control-label"><span class="star">*</span><span th:text="#{startDateEducation}">startDateEducation</span></label>
					<div class="col-sm-10">
					<select th:field="*{startDateEducationMonth}">
							<option th:each="month : ${monthList}" th:value="${month.key}" th:text="#{${month.value}}">Januar</option>
					</select>
					<select th:field="*{startDateEducationYear}">
							<option th:each="year : ${yearListStart}" th:value="${year.key}" th:text="${year.value}">1970</option>
					</select>					
<!-- 				<p class="help-block" th:if="${#fields.hasErrors('*')}"	th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</p> -->
				</div>
				</div>
				
				<div th:class="${#fields.hasErrors('endDateEducation')} ? 'form-group has-error' : 'form-group'">
					<label for="endDateEducationMonth" class="col-sm-2 control-label"><span class="star">*</span><span th:text="#{endDateEducation}">endDateEducation</span></label>
					<div class="col-sm-10">
					<select th:field="*{endDateEducationMonth}">
							<option th:each="month : ${monthList}" th:value="${month.key}" th:text="#{${month.value}}">Januar</option>
					</select>
					<select th:field="*{endDateEducationYear}">
							<option th:each="year : ${yearListEnd}" th:value="${year.key}" th:text="${year.value}">1970</option>
					</select>
				<p class="help-block" th:if="${#fields.hasErrors('endDateEducation')}"	th:each="err : ${#fields.errors('endDateEducation')}" th:text="#{${err}}">Error</p>
				</div>
				</div>

				
				
				<div th:class="${#fields.hasErrors('prospectiveEnd')} ? 'form-group has-error' : 'form-group'" >
				<label for="endDateEducationMonth" th:text="#{emptyLabel}" class="col-sm-2 control-label">endDateEducationMonth</label>
				<div class="col-sm-10">
					<label th:text="'skills.hasNoExperience:' + ${skills.hasNoExperience}"></label><br/>
					<label th:text="'hasNoExperience ($):' + ${hasNoExperience}"></label><br/>
					<label th:text="'hasNoExperience (*):' + *{hasNoExperience}"></label><br/>
					<hr/> 
					<label th:text="'skills.prospectiveEnd:' + ${skills.prospectiveEnd}"></label><br/>
					<label th:text="'prospectiveEnd ($):' + ${prospectiveEnd}"></label><br/>
					<label th:text="'prospectiveEnd (*):' + *{prospectiveEnd}"></label><br/>
					<input name="prospectiveEnd" type="checkbox" th:text="#{prospectiveEnd}"  th:checked="*{prospectiveEnd}"  id="prospectiveEndID" />
					<input name="_prospectiveEnd" type="hidden" value="on" />
					<p class="help-block" th:if="${#fields.hasErrors('prospectiveEnd')}"	th:each="err : ${#fields.errors('prospectiveEnd')}" th:text="#{${err}(#{prospectiveEnd}, ${#dates.monthName(skills.endDateEducation)}, '' + ${#dates.year(skills.endDateEducation)})}">Error</p>
				</div>
				</div>
		
			<hr/>
				
				
				<h3 th:text="#{experience}">Berufserfahrung</h3>
				
			<p th:utext="#{skillsInstructions}"></p>

				
				<div th:class="${#fields.hasErrors('hasNoExperience')} ? 'form-group has-error' : 'form-group'" >
					<label for="endDateEducationMonth" th:text="#{emptyLabel}" class="col-sm-2 control-label">endDateEducationMonth</label>
				<div class="col-sm-10">	
					<input type="checkbox" name="hasNoExperience" id="hasNoExperience" th:text="#{hasNoExperience}" th:field="*{hasNoExperience}" onchange="grayOut_WorkExperience(this)"  />
					<p class="help-block" th:if="${#fields.hasErrors('hasNoExperience')}"	th:each="err : ${#fields.errors('hasNoExperience')}" th:text="#{${err}(#{hasNoExperience})}">Error</p>
				</div>
				</div>
				
				
				
				<div th:class="${#fields.hasErrors('position')} ? 'form-group has-error' : 'form-group'">
					<label for="position" th:text="#{position}" class="col-sm-2 control-label">Position</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="position" th:placeholder="#{position}" th:field="*{position}" />
					<p class="help-block" th:if="${#fields.hasErrors('position')}" th:each="err : ${#fields.errors('position')}" th:text="${err}">Error</p>
				</div>
				</div>

				<div th:class="${#fields.hasErrors('jobField')} ? 'form-group has-error' : 'form-group'">
					<label for="jobField" th:text="#{jobField}" class="col-sm-2 control-label">JobField</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="jobField" th:placeholder="#{jobField}" th:field="*{jobField}" />
					<p class="help-block" th:if="${#fields.hasErrors('jobField')}" th:each="err : ${#fields.errors('jobField')}" th:text="${err}">Error</p>
				</div>
				</div>


				<div th:class="${#fields.hasErrors('cancelationPeriod')} ? 'form-group has-error' : 'form-group'">
					<label for="cancelationPeriod" th:text="#{cancelationPeriod}" class="col-sm-2 control-label">Kündigungsfrist</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="cancelationPeriod" th:placeholder="#{cancelationPeriod}" th:field="*{cancelationPeriod}" />
					<p class="help-block" th:if="${#fields.hasErrors('cancelationPeriod')}" th:each="err : ${#fields.errors('cancelationPeriod')}" th:text="${err}">Error</p>
				</div>
				</div>

				<div th:class="${#fields.hasErrors('endDateExperience')} ? 'form-group has-error' : 'form-group'">
					<label for="startDateExperienceMonth" th:text="#{startDateExperience}" class="col-sm-2 control-label">startDateExperienceMonth</label>
					<div class="col-sm-10">
					<select th:field="*{startDateExperienceMonth}" id="startDateExperienceMonth">
							<option th:each="month : ${monthList}" th:value="${month.key}" th:text="#{${month.value}}">Januar</option>
					</select>
					<select th:field="*{startDateExperienceYear}" id="startDateExperienceYear">
							<option th:each="year : ${yearListStart}" th:value="${year.key}" th:text="${year.value}">1970</option>
					</select>
<!-- 				<p class="help-block" th:if="${#fields.hasErrors('startDateExperienceMonth')}"	th:each="err : ${#fields.errors('startDateExperienceMonth')}" th:text="${err}">Error</p> -->
				</div>
				</div>

				<div th:class="${#fields.hasErrors('endDateExperience')} ? 'form-group has-error' : 'form-group'">
					<label for="endDateExperienceMonth" th:text="#{endDateExperience}" class="col-sm-2 control-label">endDateExperienceMonth</label>
					<div class="col-sm-10">
					<select th:field="*{endDateExperienceMonth}" id="endDateExperienceMonth">
							<option th:each="month : ${monthList}" th:value="${month.key}" th:text="#{${month.value}}">Januar</option>
					</select>
					<select th:field="*{endDateExperienceYear}" id="endDateExperienceYear">
							<option th:each="year : ${yearListEnd}" th:value="${year.key}" th:text="${year.value}">1970</option>
					</select>
				<p class="help-block" th:if="${#fields.hasErrors('endDateExperience')}"	th:each="err : ${#fields.errors('endDateExperience')}" th:text="#{${err}}">Error</p>
				</div>
				</div>
				
				
				<div th:class="${#fields.hasErrors('currentPosition')} ? 'form-group has-error' : 'form-group'" >
					<label for="endDateEducationMonth" th:text="#{emptyLabel}" class="col-sm-2 control-label">endDateEducationMonth</label>
				<div class="col-sm-10">	
					<input type="checkbox" name="currentPosition" th:text="#{currentPosition}" th:field="*{currentPosition}" id="currentPosition"/>
					<p class="help-block" th:if="${#fields.hasErrors('currentPosition')}"	th:each="err : ${#fields.errors('currentPosition')}" th:text="#{${err}(#{currentPosition}, #{endDateExperience}, ${#dates.monthName(skills.endDateExperience)}, '' + ${#dates.year(skills.endDateExperience)})}">Error</p>
				</div>
				</div>
				
				
				<p></p>
				
				<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">			
					<button type="submit" name="buttonPressed" value="contactSkills_Back" class="btn btn-warning btn-lg">
						<span class="glyphicon glyphicon-chevron-left" th:text="#{back}">Submit</span>
					</button>
	
					<button type="submit" name="buttonPressed" value="contactSkills_Cancel" class="btn btn-warning btn-lg">
						<span class="glyphicon glyphicon-remove" th:text="#{cancel}">Submit</span>
					</button>
	
					<button type="submit" name="buttonPressed" value="contactSkills_Forward" class="btn btn-warning btn-lg">
						<span class="glyphicon glyphicon-chevron-right" th:text="#{forward}">Submit</span>
					</button>
				</div>
				</div>
			</form>
			<hr/>
		
		<p>
			<span th:text="#{footerTextOne}">Die mit einem </span><span class="star"> * </span>	
			<span th:text="#{footerTextTwo}"> markierten Felder müssen ausgefüllt werden</span>
		</p>
		
		
		<footer>
		<p>&copy; Kiebitz 2013</p>
		</footer>
			
		</div>
	</div>
</body>
</html>







