<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<title th:text="#{submitApplication}">Submit Application</title>
</head>
<body>

	<div id="wrap">
		<div class="container">

			<ol class="breadcrumb">
				<li th:text="#{agreement}">Agreement</li>
				<li th:text="#{candidateData}">Candidate Data</li>
				<li th:text="#{skills}">Skills</li>
				<li th:text="#{documentUpload}">Document Upload</li>
				<li class="active" th:text="#{submitApplication}">Submit Application</li>
			</ol>

			<h1 th:text="#{submitApplication}">Submit ApplicationAgreement</h1>

		
			
			
			
			
		</div>
	</div>
</body>	
