<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="resources/images/favicon.png"/>

<link href="resources/css/bootstrap.css" rel="stylesheet" media="screen" />

<!-- Custom styles for this template -->
<link href="resources/css/stylesheet_reto.css" rel="stylesheet" type="text/css"/>

<title th:text="#{thankYou}">Thank you for your application!</title>

</head>
<body>
	
<div class="logo-header">		
	<div class="container">
		<div align="right">
			<img src="resources/images/kiebitz-logo.jpg" width="273" height="97" alt="Kiebitz" />
		</div>
	</div>
</div>	
	
	
<div class="jumbotron">
		<div class="container">
			<h1 th:text="#{thankYou}">Thank you for your application!</h1>
		</div>
	</div>

<div id="wrap">
	<div class="container">
			<footer>
				<p>&copy; Kiebitz 2013</p>
			</footer>
		</div>
	</div>


</body>
</html>